<article>
  <footer class="md:-ml-32 font-sans text-grey-dark text-sm flex items-center my-6 md:my-12">
    <img src="http://arjanvandergaag.nl/images/avatar.png" alt="Arjan van der Gaag" width="48" height="48" class="rounded-full mr-4">
    <p class="flex-1">
      By <a href="http://arjanvandergaag.nl" rel="me" class="font-black text-black hover:text-grey-darker focus:text-grey-darker active:text-grey-dark visited:text-black">Arjan van der Gaag</a>
      on <%= @item[:created_at].strftime('%b %e %Y') %>.<br>
      Tagged <%= @item[:tags].join(', ') %>.
    </p>
  </footer>
  <a href="/" class="dim inline-block mb-3 md:-ml-32 text-sm font-sans">&larr; back to all talks and articles</a>
  <h1><%= @item[:title] %></h1>
  <div class="article-content">
    <%= yield %>
  </div>
  <header>
    <ul class="text-grey-darker text-sm list-reset my-6 font-sans">
      <% @item[:tags].each do |tag_name| %>
        <li class="bg-grey-lightest py-1 px-2 inline-block"><%= tag_name %></li>
      <% end %>
    </ul>
    <div class="md:flex text-grey-dark text-sm my-12 font-sans items-start md:-ml-32">
      <img src="http://arjanvandergaag.nl/images/avatar.png" alt="Arjan van der Gaag" width="48" height="48" class="rounded-full mx-auto mb-6 block md:ml-0 md:mr-4">
      <div class="flex-1 mb-6 md:mr-12">
        <h4>Arjan van der Gaag</h4>
        <p>A thirtysomething software developer, historian and all-round geek. This is his blog about Ruby, Rails, Javascript, Git, CSS, software and the web. Back to <a href="/" class="dim">all talks and articles</a>?</p>
      </div>
      <div class="flex-1">
        <h4>Discuss</h4>
        <p>You cannot leave comments on my site, but you can always tweet questions or comments at me: <a href="https://twitter.com/avdgaag" rel="external" class="dim">@avdgaag</a>.</p>
      </div>
    </div>
  </header>
</article>
