%article
  %h1= Typogruby.improve @item[:title]
  %footer
    .date= attribute_to_time(@item[:created_at]).strftime '%d-%m-%Y'
    - if @item[:tags] && @item[:tags].any?
      .tags
        Tagged
        = @item[:tags].join(', ')
    - if @item[:tldr] && @item[:tldr] =~ /\S/
      .tldr
        TLDR:
        = @item[:tldr]
  = preserve do
    = yield
  .comments
    :markdown
      You cannot leave comments on my site, but you can always tweet questions or comments at me: [@avdgaag](https://twitter.com/avdgaag).
