%article
  %h1= Typogruby.improve @item[:title]
  %footer
    Written on
    %span.date= attribute_to_time(@item[:created_at]).strftime('%d %b %Y').downcase
    - if @item[:tags] && @item[:tags].any?
      %span.tags
        and tagged
        = Typogruby.improve(@item[:tags].join(', '))
  = preserve do
    = yield
  .comments
    :markdown
      You cannot leave comments on my site, but you can always tweet questions or comments at me: [@avdgaag](https://twitter.com/avdgaag).
